* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #15272b;
  display: flex;
  flex-direction: column;
}

/* Geral */
.titles {
  font-size: 2em;
}

p,
li {
  font-size: 18px;
  color: #d9dde6;
}

p {
  text-align: justify;
}

h1,
h3 {
  color: white;
}

.border-deg {
  position: absolute;
  border: 7px solid;
  border: double 7px transparent;
  background-image: linear-gradient(#15272b, #15272b),
    linear-gradient(45deg, #3b9eab, #73fae0, #3b9eab);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 10px;
}

.button {
  width: max-content;
  padding: 13px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.1);
}

.button-R {
  background: linear-gradient(-200deg, #58bea9, #010b2a);
}

.cont-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  filter: invert();
  height: 60px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.max-width {
  max-width: 1900px;
  margin: 0 auto;
}

a {
  display: inline-block;
}
/* Header - Nav */

#cont-header {
  background-color: #02181d94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

nav {
  display: flex;
}

#nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 25px;
  list-style-type: none;
}

.nav-li {
  color: #c8cfdd;
  margin: 0 0;
  font-size: 20px;
  transition: transform 0.2s;
}

.nav-li:hover {
  transform: scale(1.1);
  color: aliceblue;
  text-shadow: 0 0 20px rgb(156, 214, 246);
}

.nav-li > a {
  padding: 15px 10px;
  text-decoration: none;
  color: white;
}

/* Main */

.position {
  width: 60%;
  margin: 100px auto;
}

/* Sobre */

#about-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#cont-about-img {
  position: relative;
  height: 325px;
  width: 274px;
}

#border-img-about {
  height: 290px;
  width: 200px;

  top: 20px;
  left: 50px;
}

#about-img {
  position: absolute;
  height: 90%;
  border-radius: 10px;
}

#about-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: max-content;
}

#cont-about-desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Portifólio */

#port {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#li-port {
  display: inline;
  font-size: 1.3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.157);
  color: #e5e0eb;
}

#cont-box {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.cont-port {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: max-content;
}

.text-port {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  width: 35%;
  height: max-content;
  gap: 30px;
}

.button-port {
  background: linear-gradient(-200deg, #58bea9, #010b2a);
}

.cont-port-img {
  position: relative;
  height: 285px;
  width: 410px;
}

.border-img-port {
  top: 30px;
  height: 240px;
  width: 360px;
}

.img-port {
  position: absolute;
  width: 380px;
  border-radius: 10px;
}

/* img right */

.border-img-port-1 {
  background-image: linear-gradient(#15272b, #15272b),
    linear-gradient(-45deg, #3b9eab, #73fae0, #3b9eab);
}

.img-port-1 {
  right: 0;
}

.button-1 {
  background: linear-gradient(200deg, #58bea9, #010b2a);
}

/* img left */

.border-img-port-2 {
  left: 35px;
}

.img-port-2 {
  left: 0;
}

/* Serviços */

#serv {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#serv-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont-serv1 {
  width: 35%;
  position: static;
  border: 5px solid;
  border: double 5px transparent;
  background-image: linear-gradient(#15272b, #15272b),
    linear-gradient(90deg, #3b9eab, #73fae0, #3b9eab);
  box-shadow: 0 0 20px rgba(156, 215, 246, 0.554);
}

.cont-serv2 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#headeline-serv {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

.cont-serv-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.serv-img {
  height: 35px;
}

/* Footer */

#cont-footer {
  background: linear-gradient(300deg, #58bea9, #010b2a);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

/* Contatos */

#contatos {
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.157);
}

#contatos2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

#conatatos2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.157);
}

#contHeadlineContat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contContat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contInfoContat {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 20px;
  transition: transform 0.2s;
}

.contInfoContat:hover {
  transform: scale(1.1);
}

.contInfoContat a {
  text-decoration: none;
}

.contImgContat {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.imgContat {
  width: 25px;
}

/* Rodapé */

#contRoda {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#txtRoda {
  color: #c7c7c7;
  font-weight: 300;
  font-size: 12px;
}

/* Responsividade */

@media screen and (max-width: 1450px) {
  .titles {
    font-size: 1.5em;
  }

  p,
  li {
    font-size: 16px;
    color: #d9dde6;
  }
}

@media screen and (max-width: 1235px) {
  .titles {
    text-align: center;
  }

  /*main */
  .position {
    width: 80%;
  }

  /* Sobre */

  #about-cont {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #about-text-cont {
    width: 100%;
    height: max-content;
  }

  /* Portfolio */

  .cont-port {
    justify-content: center;
    gap: 40px;
  }

  .text-port {
    width: 100%;
  }

  .cont-port-img {
    height: 245px;
  }

  .border-img-port {
    height: 200px;
    width: 300px;
  }

  .img-port {
    width: 332px;
  }

  /* img right */

  .border-img-port-1 {
    right: 35px;
  }

  .img-port-1 {
    right: 0;
  }

  /* Serviços */

  #serv-box {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .cont-serv1 {
    width: 90%;
  }
}
